<div class="container-fluid">
    <div class="row">
        <div class="col-lg-7 px-0">
                <div class="owl-carousel main-carousel position-relative">
                    {% for post in main_posts_01 %}
                    <div class="position-relative overflow-hidden" style="height: 500px;">
                        <img class="img-fluid h-100" src="{{post.image.url}}" style="object-fit: cover;">
                        <div class="overlay">
                            <div class="mb-2">
                                <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2" href="">{{post.category}}</a>
                                <a class="text-white" href="">{{post.created_at}}</a>
                            </div>
                            <a class="h2 m-0 text-white text-uppercase font-weight-bold" href="{{post.get_absolute_url}}">{{post.title}}</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
        </div>
        <div class="col-lg-5 px-0">
            <div class="row mx-0">
                {% for post in main_posts_02 %}
                    <div class="col-md-6 px-0">
                        <div class="position-relative overflow-hidden" style="height: 250px;">
                            <img class="img-fluid w-100 h-100" src="{{post.image.url}}" style="object-fit: cover;">
                            <div class="overlay">
                                <div class="mb-2">
                                    <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2" href="">{{post.category}}</a>
                                    <a class="text-white" href=""><small>{{post.created_at}}</small></a>
                                </div>
                                <a class="h6 m-0 text-white text-uppercase font-weight-semi-bold" href="{{post.get_absolute_url}}">{{post.title}}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
